<li class="resturant-item">
	<article>
	<h2><%= resturant.name %></h2>
	<div class="resturant-meta">
		<p><%=resturant.address %></p>
		<p><%=resturant.cuisine %></p>
		<p><%=resturant.description %></p>
	</div>
	<div class="website-item">
		<a href="<%=resturant.description %>">View Website</a>
	</div>
	</article>				
</li>